*{
  margin: 0;
  padding: 0;
}
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5.208333333333333vw;
}
.about-us-font {
  font-size: 5.208333333333333vw;
  margin-bottom: 2.6041666666666665vw
}
.about-para {
  width: 39.0625vw;
  /* text-align:; */
  font-size: large;
}
.about-grid {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.womenpng {
  width: 20.833333333333332vw;
  border-radius: 10px;
}

.our-impact{
  margin-bottom: 50px;
}

.our-impact--heading{
  display: flex;
  justify-content: center;
  margin-bottom:  2.6041666666666665vw;
  
}

.impact-section-images{
  width: 5.208333333333333vw;
}
.impact-section--grid{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
}