body{
  background-color: #0d0e10;
  color: #ffff;
  font-family: 'Poppins', sans-serif;
}
.table{
  padding-left:80px;
  padding-top: 30px;
  font-family: 'Poppins', sans-serif;
}
h2,h3{
  color:rgb(154,94,150);
  font-family: 'Poppins', sans-serif;
}
.footer-section {
  padding: 40px 0px;
}
hr.footer-hr {
  width: 55%;
}
@media screen and (max-width:576px){
  .table {
    padding-left: 40px;
  }
}
.footer-items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#footer-heading{
  color:rgb(154,94,150);
}
.footer-items{
  padding: 20px 80px;
}
.footer-organization{
  margin-bottom: 50px;
}
.footer-community{
  margin-bottom: 50px;
}
.footer-socials{
  margin-bottom: 50px;
}
.footer-contact-us{
  margin-bottom: 50px;
}
footer {
  padding: 20px 0px;
}

.Contact-us-form{

 padding-left: 20px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #6220e5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #8c52ff;
}

.container {
  border-radius: 5px;
  background-color: #0d0e10;
  padding: 20px 80px;
}
.Contact-us-form {
  margin-left:55px ;
}
.footer-organization-content {
  color: #ffff;
}

@media screen and (max-width:320px){
  .footer-items {
    justify-content: center;
  }
  .footer-community{
    text-align: center;
  }
  .footer-organization{
    text-align: center;
  }
  .footer-socials{
    text-align: center;
  }
  .footer-contact-us{
    text-align: center;
  }
}
