body {
  background-color: #0d0e10;
  color: #ffff;
  font-family: 'Poppins', sans-serif;
}

.table {
  padding-left: 80px;
  padding-top: 30px;
  font-family: 'Poppins', sans-serif;
}

h2,
h3 {
  color: rgb(154, 94, 150);
  font-family: 'Poppins', sans-serif;
}

.footer-section {
  padding: 40px 0px;
}

hr.footer-hr {
  width: 55%;
}

@media screen and (max-width:576px) {
  .table {
    padding-left: 40px;
  }
}

.footer-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#footer-heading {
  color: rgb(154, 94, 150);
}

.footer-items {
  padding: 20px 80px;
}

.footer-organization {
  margin-bottom: 50px;
}

.footer-community {
  margin-bottom: 50px;
}

.footer-socials {
  margin-bottom: 50px;
}

.footer-contact-us {
  margin-bottom: 50px;
}

footer {
  padding: 20px 0px;
}


.Contact-us-form {

  padding-left: 20px;
  text-align: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  padding: 20px;
}

.inputItem {
  padding: 10px;
  margin: 10px 10px 20px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

.submitButton {
  width: 25%;
  margin: 10px auto;
  padding: 5px 20px;
  border-radius: 4px;
  border: none;
  transition: background-color 0.5s;
}

.submitButton:hover {
  cursor: pointer;
  background-color: #8c52ff;
}


.footer-organization-content {
  color: #ffff;
}

@media screen and (max-width:320px) {
  .footer-items {
    justify-content: center;
  }

  .footer-community {
    text-align: center;
  }

  .footer-organization {
    text-align: center;
  }

  .footer-socials {
    text-align: center;
  }

  .footer-contact-us {
    text-align: center;
  }
}