* {
  margin: 0;
  padding: 0;
}
body {
  font-family: poppins;
  background-color: rgb(13, 14, 16);
}
.members-page-community-image {
  width: 100%;
  height: 250px;
  /* background: url("../images/image-Community.jpeg");
    background-size: cover;
    background-repeat: no-repeat; */
  background-color: beige;
}
img#members-page-image {
  /* height: 150px; */
  /* background: url(); */

  width: 100%;
  background-image: url(../images/memebrs-page-header-image.jpeg);
  background-size: cover;
  height: 100%;
  background-position-y: center;
  background-position-x: center;
}
.members-page-community-content {
  background-color: rgb(13, 14, 16);
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}
.members-page-community-content-info {
  padding: 4rem 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* .members-page-founder {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
} */
.meet-founder {
  display: flex;
  justify-content: Center;
  align-items: center;
  font-size: 32px;
  margin-bottom: 30px;
}
.founder-image-container {
  margin-bottom: 20px;
}

.founder-name {
  font-size: 28px;
  padding: 0px 20px;
  margin-bottom: 15px;
  color: #a2588b;
  font-weight: 600;
  text-align: center;
}
.about-founder-text {
  text-align: Center;
  font-size: 16px;
}
/* .founder-info {
    width: 550px;
} */
.founder-image {
  height: 300px;
  width: 300px;
  border: 5px solid #a2588b;
  background-image: url(../images/dhruvi.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 50%;
}
.founder-heading {
  font-size: 35px;
  color: #a2588b;
  font-family: poppins;
  font-weight: 500;
  padding: 0px 0px;
  text-align: center;
  margin-left: 8px;
}
.members-page-founder {
  width: 500px;
  padding: 20px;
  background-color: #181818;
  border-radius: 9px;
  box-shadow: 1px 1px 10px 2px black;
}
.about-founder {
  font-size: 19px;
  color: white;
  width: 90%;
  margin: 10px auto;
}
.founder-social-links {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0px 50px;
}
.members-page-community-content-managers {
  padding: 5rem 5rem;
}
.community-managers-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a2588b;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 30px;
}

/* .community-managers-content {
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.about-community-managers {
  height: 500px;
  width: 350px;
  margin-left: 10px;
  margin-right: 10px;
}
.community-managers-pic {
  width: 100%;
  height: 250px;
  background-color: white;
  background-image: url(../images/members-community-women-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* margin-bottom:35px; */
/* } */
/* .community-managers-info {
  color: white;
  padding: 30px 0px;
} */

.swiper {
  width: 100%;
}

.swiper-wrapper {
  width: 100vw !important;
  height: 35em;
  display: flex;
  align-items: center;
}

.card {
  width: 20em;
  height: 90%;
  background-color: #181818;
  border-radius: 2em;
  padding: 2em 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 2em;
}

.card-image {
  width: 12em;
  height: 12em;
  border-radius: 50%;
  border: 5px solid #a2588b;
  padding: 3px;
  margin-bottom: 2em;
}

.card-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-title {
  font-size: 1em;
  margin-top: 8px;
  font-weight: 500;
}

.card-name {
  font-size: 1.6em;
  color: #a2588b;
  font-weight: 500;
}

.card-text {
  color: #fff;
  text-align: center;
  margin: 10px auto;
  width: 90%;
}

.member-social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5em;
}

.member-social-links .social-icons {
  margin: 0 13px;
  cursor: pointer;
}

.about-community-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-community-heading {
  color: #a2588b;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}

.about-community-text {
  font-size: 18px;
  line-height: 35px;
  color: white;
  width: 90%;
}
.about-community-text-content {
  width: 500px;
}
.member-page-active-members {
  padding: 4rem 4rem;
}
.active-members {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a2588b;
  font-size: 35px;
  font-weight: 500;
  padding: 30px 10px 50px 10px;
}

/* .memeber-page-active-list {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 40px;
  grid-column-gap: 2ppx;
}
.member-page-active-member {
  width: 330px;
  margin-right: 10px;
  margin-left: 10px;
  height: 400px;
}
.active-member-pic {
  width: 100%;
  height: 330px;
  background-color: white;
  margin-bottom: 20px;
  background-image: url(../images/women-image-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.name-of-member {
  font-size: 18px;
  color: white;
  text-align: center;
} */

.members-page-about-community {
  padding: 5rem 5rem;
}
#about-page-img {
  height: 350px;
}
@media screen and (max-width: 576px) {
  .members-page-founder {
    width: 400px;
  }
  .about-community-heading {
    font-size: 20px;
    text-align: left;
    padding: 0px 30px;
    font-weight: 600;
  }
  .members-page-about-community {
    padding: 1rem 1rem;
  }
  .members-page-community-content-managers {
    padding: 1rem 1rem;
  }
  .active-members {
    font-size: 24px;
  }
  .community-managers-content {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
  .memeber-page-active-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .community-managers-heading {
    font-size: 24px;
  }
  .members-page-founder {
    justify-content: center;
  }
  .founder-name {
    text-align: center;
  }
  .about-founder-text {
    text-align: center;
    font-size: 15px;
  }
  .about-community-text {
    text-align: left;
    padding: 0px 30px;
  }
  .members-page-community-content-info {
    padding: 1rem;
  }
  .about-founder {
    font-size: 14px;
  }
  .members-page-community-content {
    display: flex;
    justify-content: center;
  }
  .member-page-active-members {
    padding: 4rem 0rem;
  }
  #about-page-img {
    height: 300px;
  }
  .about-community-managers {
    width: 300px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .members-page-community-content-managers {
    padding: 2rem 2rem;
  }
  .about-community-heading {
    font-size: 25px;
  }
  .community-managers-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .community-managers-heading {
    font-size: 25px;
  }
  .members-page-founder {
    justify-content: center;
  }
  .founder-name {
    text-align: center;
  }
  .about-founder-text {
    text-align: center;
  }
  .members-page-community-content {
    display: flex;
    justify-content: center;
  }
  .about-community-text {
    text-align: center;
  }
  .members-page-community-content-info {
    padding: 2rem 2rem;
  }
  .memeber-page-active-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 768px) and (max-width: 1220px) {
  .member-page-active-members {
    padding: 4rem 2rem;
  }
  .about-community-managers {
    width: 330px;
  }
  .community-managers-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .members-page-community-content-managers {
    padding: 2rem 2rem;
  }
  .members-page-founder {
    justify-content: center;
  }

  .about-founder-text {
    text-align: center;
  }
  .members-page-community-content-info {
    padding: 2rem 2rem;
  }
  .members-page-community-content {
    display: flex;
    justify-content: center;
  }
  .about-community-text {
    text-align: center;
  }
  .memeber-page-active-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1220px) {
  .about-community-content {
    flex-direction: column-reverse;
  }
  .about-community-heading {
    text-align: center;
  }
  .about-community-image {
    padding: 40px 0px;
  }
}
@media screen and (max-width: 476px) {
  .members-page-community-content {
    padding-top: 40px;
  }
  .members-page-founder {
    width: 350px;
  }
  .founder-image {
    height: 250px;
    width: 250px;
  }
  #about-page-img {
    height: 250px;
  }
  .member-page-active-member {
    width: 300px;
  }
}
@media screen and (max-width: 420px) {
  #about-page-img {
    height: 250px;
  }
  .member-page-active-member {
    width: 300px;
  }
}